
# Local
# DATABASE_URL="postgresql://myuser:mypassword@localhost:5433/mydatabase"
DATABASE_URL="postgresql://myuser:mypassword@postgres-101:5432/mydatabase"
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword

# KC_AUTH_SERVER_URL=http://localhost:8080/ # Keycloak Instance
# KC_REALM=myrealm
# KC_CLIENT_ID=nestjs-demo
# KC_SECRET=A5BCFOhWgf6WcwYwZsIDIk65xzuLOcUV

JWT_SECRET=myjwtsecretkey

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL="http://localhost:3000/api/oauth/google/callback"
GOOGLE_AUTH_URL="https://accounts.google.com/o/oauth2/v2/auth"
GOOGLE_TOKEN_URL="https://www.googleapis.com/oauth2/v4/token"
GOOGLE_USER_INFO_URL="https://www.googleapis.com/oauth2/v2/userinfo"
GOOGLE_SCOPE="profile email"

